
body {
	font-family: "Noto Sans", "Open Sans", sans-serif;
	font-size: 16pt;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 2px;
	color: white;
}

/* bracket matches */

.title, .round-name, .round-type {
	width: 100%;
	height: 15px;

	margin-top: 8px;

	text-transform: uppercase;
	text-align: center;
	font-style: normal;
	font-size: 10pt;
	font-weight: bold;
	letter-spacing: 6px;
	line-height: 15px;
}

.title {
	margin-top: 40px;
	margin-bottom: 20px;
	font-weight: bolder;
}

.match {
	height: 80px;
	width: 100%;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	margin-bottom: 10px;
	padding-left: 20px;
	line-height: 50px;
}

.vs {
	display: inline-block;
	vertical-align: top;
	width: 10%;
	height: 100%;
	line-height: 50px;

	margin-top: 1px;

	text-transform: uppercase;
	font-size: 8pt;
	text-align: center;
	font-weight: bold;
}

.player {
	display: inline-block;
	width: 40%;
	height: 30px;
	overflow: show;

	margin-top: 10px;

	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 15px;

	font-size: 12pt;
	text-align: center;
	line-height: 30px;
}

.player.winner {
	background-color: white;
	color: rgba(0, 0, 0, 0.8);

	font-weight: bolder;
}
 
/* ladder standings */

.standings {
	/*margin-top: 40px;*/
	/*margin-left: 40px;*/
	mix-blend-mode: color-dodge;
}


.place {
	width: 100%;
	height: 30px;
	overflow: hidden;

	padding: 6px 0px 6px -0px;
	margin-bottom: 20px;

	color: white;
	background: rgba(255, 255, 255, 0.1);
	mix-blend-mode: color-dodge;
	border-radius: 4px;

	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.placement-wrapper {
	margin-left: 0px;
	display: inline-block;
}

.placement {
	display: block;
	position: relative;

	width: 60px;
	height: 50px;

	margin-top: -10px;

	/*color: rgba(0, 0, 0, 0.8);*/
	color: white;
	/*background: rgba(255, 255, 255, 0.7);*/
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	/*border-radius: 25px;*/

	text-align: center;
	font-family: "URW Gothic", sans;
	line-height: 55px;
	text-shadow: none;
	font-style: normal;
	font-weight: bolder;
	font-size: 20pt;
}

.placement.top4 {
	/*color: rgba(255, 255, 255, 0.9);*/
	/*background: rgba(185, 105, 222, 0.8);*/
	color: rgba(0, 0, 0, 0.9);
	background: rgba(255, 255, 255, 0.9);
}

.name {
	display: inline-block;
	vertical-align: top;
	height: 40px;
	margin-left: 10px;
	line-height: 30px;
	font-size: 16pt;
}


/* countdown timer */

.countdown-caption {
	letter-spacing: 4px;
	margin-bottom: 20px;
}

.countdown {
	letter-spacing: 4px;
	font-size: 72pt;
	font-style: normal;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.wrapper {
	width: 600px;
	height: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	text-align: center;
}

