
{% extends "default.j2" %}

{% block title %}octogon tool - smash.gg bracket{% endblock %}

{% block body %}
	<div class="title">Upcoming Matches</div>
	<div class="standings">
		{{ body }}
	</div>
{% endblock %}
