
{% extends "default.j2" %}

{% block head %}
	<style>
		#player0 {
			background-image: url("{{ p0_bg }}");
		}
		#player1 {
			background-image: url("{{ p1_bg }}");
		}
		body {
			background: black;
		}
	</style>
{% endblock %}
