<!DOCTYPE html>
<!-- displays the scoreboard overlay -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>octogon scoreboard</title>
		<link rel="stylesheet" href="style/style.css" />
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
		<script src="scripts/scoreboard_reader.js"></script>
		<style>
			#background {
				position: fixed;
				z-index: -2;
				width: 100%;
				height: 100%;
				background-image: url("{{ bg_path }}");
				-webkit-mask-image: url("output/mask.svg");
				mask-image: url("output/mask.svg");
				-webkit-mask-mode: luminance;
				mask-mode: luminance;
				-webkit-mask-type: luminance;
				mask-type: luminance;
			}
		</style>
	</head>
	<body>
		<!--<div id="background"></div>-->

		<div id="p1_container" class="sb_container">
			<div id="p1_name" class="sb_name"></div>
			<div id="p1_portrait" class="sb_portrait"></div>
			<div id="p1_wincounter" class="sb_wincounter"></div>
		</div>
		<div id="p2_container" class="sb_container">
			<div id="p2_name" class="sb_name"></div>
			<div id="p2_portrait" class="sb_portrait"></div>
			<div id="p2_wincounter" class="sb_wincounter"></div>
		</div>
		<!--<div id="border_l" class="border"></div>-->
		<!--<div id="border_r" class="border"></div>-->
		<div id="border_full">
			<div class="sb_title">
				<div id="sb_roundtitle"></div>
				<div id="sb_roundtype"></div>
			</div>
		</div>
	</body>
</html>
