@import "variables.scss";
@import "scoreboard.scss";

// =====================================================================================

body {
	@include font_name;
	color: white;
}

/* bracket matches */

.title,
.round-name,
.round-type {
	@include font_h1;
	box-sizing: border-box;

	width: 100%;
	height: 15px;
	margin-top: 8px;
	line-height: 15px;
	padding-right: 20px;
	padding-left: 20px;
}

.title {
	@include font_h2;
	@include horizontal_line;

	margin-top: 40px;
	margin-bottom: 20px;
}

.round-name {
	@include font_h1;

	display: inline-block;
	text-align: center;
	padding-bottom: 40px;
}

.set-id {
	display: inline-block;
	margin-right: 10px;
	font-style: normal;
}

.set {
	@include glass_panel;
	box-sizing: border-box;

	height: 54px;
	width: 100%;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	//padding-left: 40px;
	line-height: 50px;

	text-align: center;
}

.message {
	text-align: center;
	font-style: normal;
}

.match-players {
	display: inline-block;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
}

.vs {
	@include font_vs;

	vertical-align: top;
	width: 10%;
	margin-left: 20px;
	margin-right: 20px;
	height: 100%;
	line-height: 50px;

	margin-top: 1px;
}

// players in sets

.player {
	display: inline-block;
	width: 180px;
	height: 30px;

	margin-top: 10px;

	background-color: $bg_dark;
	border-radius: 15px;

	font-size: 12pt;
	text-align: center;
	line-height: 30px;
}

.player.winner {
	background-color: $bg_solid;
	color: $fg_dark;

	font-weight: bolder;
}

.player-name {
	display: inline-block;
	width: 80%;
	margin: none;
	overflow: hidden;
	vertical-align: top;
}
.player-score {
	display: inline-block;
	width: 15%;
	margin: none;
	padding: none;
	vertical-align: top;
	border-left: solid 1px $fg_light;
}

.winner > .player-score {
	border-left: solid 1px $fg_dark;
}

/* ladder standings */

.standings {
	/*margin-top: 40px;*/
	/*margin-left: 40px;*/
	mix-blend-mode: color-dodge;
}

.place {
	@include glass_panel;
	@include text_shadow;

	width: 100%;
	height: 30px;
	overflow: hidden;

	padding: 6px 0px 6px -0px;
	margin-bottom: 20px;

	color: $fg_light;
	mix-blend-mode: color-dodge;
}

.placement-wrapper {
	margin-left: 0px;
	display: inline-block;
}

.placement {
	@include font_placement;
	@include drop_shadow;

	display: block;
	position: relative;

	width: 60px;
	height: 50px;

	margin-top: -10px;

	color: $fg_light;
	background: $bg_dark;

	line-height: 55px;
}

.placement.top4 {
	/*color: rgba(255, 255, 255, 0.9);*/
	/*background: rgba(185, 105, 222, 0.8);*/
	color: $fg_dark;
	background: $bg_solid;
}

.name {
	display: inline-block;
	vertical-align: top;
	height: 40px;
	margin-left: 10px;
	line-height: 30px;
	font-size: 16pt;
}

/* countdown timer */

.countdown-caption {
	letter-spacing: 4px;
	margin-bottom: 20px;
}

.countdown {
	@include font_countdown;
}

.wrapper {
	width: 600px;
	height: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	text-align: center;
}

