@import "variables.scss";

$color_port_1: #c45d5d;
$color_port_2: #446fa7;
$color_port_3: #A8B048;
$color_port_4: #49B46D;

//======================================================================================
// SCOREBOARD
//======================================================================================

$sb_side_width: 328px;
$sb_border_width: 4px;

$sb_windot_radius: 30px;

@mixin sb_border {
	border-width: $sb_border_width;
	border-style: solid;
	//border-color: $accent;
	border-color: $bg_solid;
}

.sb_title {
	@include drop_shadow;

	position: absolute;

	height: 40px - $sb_border_width;
	width: 100%;
	//width: 1920 - (2 * $sb_side_width);

	//top: 20px;
	//left: $sb_side_width;

	background: $bg_solid;
	z-index: -1;

	text-align: center;
}

#sb_roundtitle,
#sb_roundtype {
	@include font_h2;

	display: inline-block;

	font-size: 14pt;
	color: $fg_dark;
	line-height: 40px - $sb_border_width - 2px;
	letter-spacing: 2px;
}
#sb_roundtitle {
	&::after {
		content: " · ";
	}
}

.border {
	@include drop_shadow;

	width: $sb_border_width;
	height: 100%;

	//top: 60px;

	background: $bg_solid;
}

#border_l {
	position: absolute;
	left: $sb_side_width;
}

#border_r {
	position: absolute;
	right: $sb_side_width;
}

#border_full {
	@include sb_border;
	@include glass_panel;

	position: absolute;
	box-sizing: border-box;

	height: 1080px - 40px;
	width: 1920px - (2 * $sb_side_width);

	background: none;

	margin-top: 20px;
	left: $sb_side_width;
}

.sb_container {
	@include sb_border;
	@include glass_panel;
	@include text_shadow;

	box-sizing: border-box;

	width: $sb_side_width - 20px - 20px;
	height: 400px;

	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;

	background: $bg_light;

	text-align: center;
	font-size: 30px;
	font-style: normal;
}

#p1_container {
	position: absolute;
	left: 0px;
}

#p2_container {
	position: absolute;
	right: 0px;
}

.sb_portrait {
	width: 100%;
	height: 352px; // magic number ??

	background-size: 100%;

	overflow: hidden;
}

#p1_portrait {
	transform: scaleX(-1);
}

.sb_name {
	@include font_h1;
	box-sizing: border-box;

	color: $fg_dark;
	background: $bg_solid;

	font-size: 14pt;
	font-weight: bolder;
	letter-spacing: 2px;
	text-shadow: none;
	height: 40px;
	line-height: 36px;

	border-bottom: solid;
	border-width: $sb_border_width;

	// color selection per controller port
	// -----------------------------------

	&.port_0 {
		border-color: $color_port_1;
		color: $color_port_1;
	}

	&.port_1 {
		border-color: $color_port_2;
		color: $color_port_2;
	}

	&.port_2 {
		border-color: $color_port_3;
		color: $color_port_3;
	}

	&.port_3 {
		border-color: $color_port_4;
		color: $color_port_4;
	}
}

.sb_wincounter {
	position: absolute;
	box-sizing: border-box;

	height: 40px;
	width: $sb_side_width - 20px - 20px;
	top: 100%;

	margin-top: 20px;

	text-align: center;

	padding-left: 20px;
	padding-right: 20px;
}

#p1_container > .sb_wincounter {
	//text-align: right;
}
#p2_container > .sb_wincounter {
	//text-align: left;
}

.sb_winicon {
	display: inline-block;

	width: 40px;
	height: 40px;

	margin-left: 5px;
	margin-right: 5px;
}

.sb_winicon span {
	@include drop_shadow;

	display: inline-block;
	box-sizing: border-box;

	width: $sb_windot_radius;
	height: $sb_windot_radius;

	text-align: center;
	vertical-align: middle;

	border-radius: 40px;
	border-width: $sb_border_width;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.1);

	line-height: 40px;
}

.sb_winicon_filled span {
	width: $sb_windot_radius;
	height: $sb_windot_radius;

	background: rgba(255, 255, 255, 1);
}
