// colors

$fg_light: #ffffff;
$fg_dark: rgba(#000000, 0.7);

$bg_light: rgba(#ffffff, 0.1);
$bg_dark: rgba(#000000, 0.3);
$bg_solid: rgba(#ffffff, 0.9);
$bg_solid_dark: rgba(#000000, 0.9);

$font_size: 16pt;
$font_size_title: 10pt;

$accent: #6975de;

@mixin drop_shadow {
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

@mixin text_shadow {
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

// the style used for names
@mixin font_name {
	font-family: "Noto Sans", "Open Sans", sans-serif;
	font-size: 16pt;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 2px;
}

@mixin font_h1 {
	text-align: center;
	font-style: normal;
	font-size: 10pt;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 6px;
}

@mixin horizontal_line {
	border-bottom: solid 2px rgba(white, 0.5);
	padding-bottom: 30px;
}

@mixin font_h2 {
	@include font_h1;
	font-weight: bolder;
}

@mixin font_vs {
	font-size: 8pt;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

@mixin font_placement {
	font-family: "URW Gothic", sans;
	text-align: center;
	text-shadow: none;
	font-style: normal;
	font-weight: bolder;
	font-size: 20pt;
}

@mixin font_countdown {
	@include text_shadow;

	letter-spacing: 4px;
	font-size: 72pt;
	font-style: normal;
}

@mixin glass_panel {
	@include drop_shadow;

	background: $bg_light;
	border-radius: 8px;
}

@mixin solid_panel {
	@include glass_panel;

	background: $bg_solid;
}
